*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #342912;
    color: #CDBD9E;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
}
.Homepage{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 63em;
}


/* Plot page */

.Scripts {
    font-size: 2.5em;

}

.marquee {
    font-size: 2.5em;
    height: 3em;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.marquee ul{
    padding-left: 0;
    display: flex;
list-style-type: none;
animation: marquee 50s linear infinite;
position: absolute;
}

.marquee ul  li{
    white-space: nowrap;
    margin-right: 2em;
    font-weight: bold;

}

@keyframes marquee{
    0%{
        left:100%;
        transform : translateX(0%);
    }
    100%{
        left:0;
        transform:translateX(-100%) ;
    }
}