*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #342912;
    color: #CDBD9E;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
}
.Homepage{
    margin: auto;
    position: absolute;
    transform: translate(102.5%, 90%);
}
.Homepage img{
    width: auto;
    transform: translate(-32.5%, 0%);
}
.Start{
    font-size: 2em;
    width: 9em;
    height: 1.125em;
    text-align: center;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 2.5s steps(9, end), blink-caret .75s step-end infinite;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
    to { width: 9em; }
}

@keyframes blink-caret {
    from, to { box-shadow: 2px 0px transparent; }
    50% { box-shadow: 2px 0px; }
}
.Author {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* Plot page */

.Scripts {
    font-size: 2.5em;
    width: 25em;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.next{
    width: 7%;
    position: absolute;
    
    left: 50%;
}
.next:hover {
    transform: scale(1.2);
    cursor: pointer;
}
